[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
editor = "jupyter notebook music_emotion_recognition.py"
notebook = "jupyter notebook music_emotion_recognition.ipynb"

[packages]
requests = "*"
pandas="*"
numpy="*"
librosa="*"
scikit-learn="*"
matplotlib="*"
tqdm="*"
ipykernel="*"
jupyterlab="*"
jupytext="*"
ipywidgets="*"

[requires]
python_version = "3"
